doctype html
html(lang='da')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css", rel="stylesheet")
    link(href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.0.0/b-3.0.0/b-colvis-3.0.0/cr-2.0.0/r-3.0.0/rg-1.5.0/rr-1.5.0/sr-1.4.0/datatables.min.css", rel="stylesheet")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js")
    script(src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.0.0/b-3.0.0/b-colvis-3.0.0/cr-2.0.0/r-3.0.0/rg-1.5.0/rr-1.5.0/sr-1.4.0/datatables.min.js")

    script(src='https://www.googletagmanager.com/gtag/js?id=G-BL9LRG9CK6', defer)
    script(src='./js/gtag.js', defer)
    title #{fileModified.getFullYear()} | SKATs positivliste | ETF'er & fonde
    script(type="application/ld+json").
      {
        "@context": "https://schema.org",
        "@type": "Dataset",
        "name": "SKATs positivliste",
        "description": "Viser SKATs positivliste over ETF'er & fonde, der beskattes som aktieindkomst",
        "datePublished": "#{fileModified.toISOString()}",
        "dateModified": "#{fileModified.toISOString()}"
      }
    block scripts
  body
    block content
